@{
  Layout = "_Layout";
}

<body id="bands">
  <h1 class="header">Bands</h1>
  <div class="container">
    <div class="well band-well">
      <ul>
        @foreach (var band in Model)
        {
          <a class="band-list" href="/band/detail/@band.GetId()"><li class="list-space">@band.GetName()</li></a>
        }
      </ul>
    </div>
  </div>
</body>
