@{
  Layout = "_Layout";
}

<body id="venue-delete">
  <h1>@Model.GetName() has been deleted</h1>

  <a href="/view/venues"><button type="button" class="btn btn-default navbar-btn">View Venues</button></a>
  <a href="/"><button type="button" class="btn btn-default">Go Home</button></a>
</body>
