@{
  Layout = "_Layout";
}

<body id="venue-form">
  <h1 class="header">@Model.GetName() has been deleted</h1>

  <div class="container">
    <a href="/view/bands"><button type="button" class="btn btn-default form-btns">View Bands</button></a>
    <a href="/"><button type="button" class="btn btn-default form-btns">Go Home</button></a>
  </div>
</body>
