@{
  Layout = "_Layout";
}

<body id="venue-delete">
  <h1 class="header">@Model.GetName() has been deleted</h1>
  <div class="container">
    <a href="/view/venues"><button type="button" class="btn btn-default form-btns">View Venues</button></a>
    <a href="/"><button type="button" class="btn btn-default form-btns">Go Home</button></a>
  </div>
</body>
