@{
  Layout = "_Layout";
}

<body id="index">
  <h1 class="header-index">Keep Track of Who Performed Where</h1>

  <div class="container">
    <a href="/view/venues"><button type="button" class="btn btn-default index-venues">View Venues</button></a>
    <a href="/view/bands"><button type="button" class="btn btn-default index-bands">View Bands</button></a>
  </div>
</body>
