@{
  Layout = "_Layout";
}

<body id="band-form">
  <h1>The band was successfully updated</h1>
  <div class="container">
    <div class="well form-well">
      <p class="detail"><strong>New band name:</strong> @Model.GetName()</p>
      <p class="detail"><strong>New band price:</strong> $@Model.GetPrice()</p>
    </div>
    <a href="/band/detail/@Model.GetId()"><button type="button" class="btn btn-default form-btns">Back to @Model.GetName() details</button></a>
    <a href="/view/bands"><button type="button" class="btn btn-default form-btns">View Bands</button></a>
  </div>
</body>
