@{
  Layout = "_Layout";
}

<body id="venues">
  <h1 class="header">Venues</h1>
  <div class="container">
    <div class="well venue-well">
      <ul>
        @if (@Model.Count == 0)
        {
          <p class="detail">There are no venues added</p>
          <a href="/venue/form"><button type="button" class="btn btn-default btn-update">Add Venue</button></a>

        }
        else
        {
          @foreach (var venue in Model)
          {
            <a class="venue-list" href="/venue/detail/@venue.GetId()"><li class="list-space">@venue.GetName()</li></a>
          }
        }
      </ul>
    </div>
  </div>
</body>
