@{
  Layout = "_Layout";
}

<body id="venue-form">
  <h1>Create a new venue</h1>

  <form action="/venue/success" method="post" class="form-group">
    <label for="name">Venue name:</label>
    <input type="text" name="name" class="form-control">
    <label for="price">Venue price:</label>
    <input type="text" name="price" class="form-control">
    <button type="submit" class="btn btn-success submit-venue">Create Venue</button>
  </form>
  <a href="/"><button type="button" class="btn btn-default">Cancel</button></a>
</body>
