<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>Band Tracker</title>
  </head>
  <body>
    <nav id="nav" class="navbar navbar-default">
     <div class="container-fluid">
       <div class="navbar-header">
         <a class="navbar-bandtracker" href="/">Band Tracker</a>
         <a href="/view/venues"><button type="button" class="btn btn-default navbar-btn">View Venues</button></a>
         <a href="/view/bands"><button type="button" class="btn btn-default navbar-btn">View Bands</button></a>
         <a href="/venue/form"><button type="button" class="btn btn-default navbar-btn">Add Venue</button></a>
         <a href="/band/form"><button type="button" class="btn btn-default navbar-btn">Add Band</button></a>
       </div>
     </div>
   </nav>

    @RenderBody()
  </body>
</html>
